
MINI2048/library/*
MINI2048/temp/*
MINI2048/wxbuild/*
MINI2048/local/*
MINI2048/wxbuild_1/*
wx-open-data-project/temp/*
wx-open-data-project/library/*
wx-open-data-project/build/*
wx-open-data-project/local/*
MINI2048-1.2/*