<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>add.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,1580},{36,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,38}</string>
			</dict>
			<key>battle_pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{1277,109},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>bigChangeProp.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1},{157,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,159}</string>
			</dict>
			<key>blockBigShadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1624},{142,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,149}</string>
			</dict>
			<key>blockBoard.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,1620},{134,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,141}</string>
			</dict>
			<key>blockShadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,160},{128,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,135}</string>
			</dict>
			<key>bomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1277,1},{77,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,106}</string>
			</dict>
			<key>button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1778},{535,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{535,130}</string>
			</dict>
			<key>chest.png</key>
			<dict>
				<key>frame</key>
				<string>{{1358,1},{176,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,196}</string>
			</dict>
			<key>chestTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,1778},{537,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,68}</string>
			</dict>
			<key>circle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1361},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>circle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1361},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>clearPropIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,413},{97,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,101}</string>
			</dict>
			<key>close.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,287},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>continueGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,1848},{185,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,42}</string>
			</dict>
			<key>crown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,129},{70,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,66}</string>
			</dict>
			<key>crown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,1580},{36,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,34}</string>
			</dict>
			<key>deletePropIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,524},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>dibantouy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,1},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>
			<key>flyChest.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,340},{107,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,110}</string>
			</dict>
			<key>gameoverBtnBoard.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1910},{525,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,79}</string>
			</dict>
			<key>gotoHome.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1991},{228,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,52}</string>
			</dict>
			<key>handle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,1},{89,126}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,132}</string>
			</dict>
			<key>mianfeihuode.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1848},{185,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,42}</string>
			</dict>
			<key>mianfeilibao.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1580},{167,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,38}</string>
			</dict>
			<key>package_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1139},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>propBaseMap.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,290},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>propHandle.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,1139},{183,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,205}</string>
			</dict>
			<key>rank_board2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,179},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>
			<key>rankBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{108,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,141}</string>
			</dict>
			<key>rankBtnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>rankMask.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1139},{498,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,324}</string>
			</dict>
			<key>relieve.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,1580},{137,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,42}</string>
			</dict>
			<key>resetGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,1848},{185,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,42}</string>
			</dict>
			<key>restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,430},{92,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,106}</string>
			</dict>
			<key>resumeGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,1991},{229,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,52}</string>
			</dict>
			<key>sbutton.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1910},{433,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{433,106}</string>
			</dict>
			<key>shareBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,144},{108,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,141}</string>
			</dict>
			<key>soundOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,287},{108,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,141}</string>
			</dict>
			<key>soundOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,197},{108,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,141}</string>
			</dict>
			<key>startBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,1136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>startGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1991},{286,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,52}</string>
			</dict>
			<key>tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,77},{103,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,48}</string>
			</dict>
			<key>LOGO.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1892},{393,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{393,88}</string>
			</dict>
			<key>battle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1185,1982},{186,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,41}</string>
			</dict>
			<key>choutiBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1639},{562,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,137}</string>
			</dict>
			<key>choutiLogo.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,1580},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>choutiOpen.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,182},{56,70}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,71}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>staticPlist.png</string>
			<key>realTextureFileName</key>
			<string>staticPlist.png</string>
			<key>size</key>
			<string>{1555,2044}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1555</integer>
			<key>height</key>
			<integer>2044</integer>
		</dict>
	</dict>
</plist>