<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,1},{89,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,99}</string>
			</dict>
			<key>clearPropIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,185},{172,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,165}</string>
			</dict>
			<key>color1_1024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,518},{132,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,661},{132,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,804},{132,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,518},{132,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_2048.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,359},{132,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_256.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,185},{132,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1},{132,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,661},{132,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_512.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,804},{132,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,502},{132,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,328},{132,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>deletePropIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>num_1024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,947},{92,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,34}</string>
			</dict>
			<key>num_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,144},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,36}</string>
			</dict>
			<key>num_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,97},{59,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,44}</string>
			</dict>
			<key>num_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,947},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>num_256.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,983},{74,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,36}</string>
			</dict>
			<key>num_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,947},{61,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,44}</string>
			</dict>
			<key>num_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,144},{36,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,48}</string>
			</dict>
			<key>num_512.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,983},{73,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,36}</string>
			</dict>
			<key>num_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,947},{62,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,44}</string>
			</dict>
			<key>num_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,947},{34,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,49}</string>
			</dict>
			<key>eliminate_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,182},{133,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,133}</string>
			</dict>
			<key>eliminate_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,359},{157,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,157}</string>
			</dict>
			<key>eliminate_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dynamicPlist.png</string>
			<key>realTextureFileName</key>
			<string>dynamicPlist.png</string>
			<key>size</key>
			<string>{505,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>505</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>